/* Body Style */

* {
    max-width: 100%;

    font-family: "Work Sans", sans-serif;
    margin: 0px;
}

/* Header Style */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 180px 80px 180px;
}

.menu-logo {
    font-size: 2em;
    font-weight: 700;
}

.menu {
    font-size: 1em;
    font-weight: 500;

}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li {
    padding: 25px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.hero {
    width: 800px;
    text-align: center;
    margin: 0px auto;
}

.hero-text {
    font-size: 4rem;
    font-weight: 700;
    margin: 20px;
}

.hero-des {
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    width: 160px;
    height: 60px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #FF900E;
    margin: 20px;
    cursor: pointer;
}

.hero-img {
    padding: 30px 180px 30px 180px;
}

.hero-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* first-section style */

.first-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 20px 180px 20px 180px;
    gap: 70px;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.first-text-box {
    width: 500px;
    height: 300px;
}

.first-text-box h3 {
    font-size: 2.5rem;
}

.text-chunk1 {
    font-weight: 500;
    color: #727272;
}

.text-chunk2 {
    font-weight: 700;
    color: #131313;
}

.text-chunk2 {
    font-weight: 700;
    color: #FF900E;
}

/* Second Section style */
.second-section {
    display: flex;
    gap: 140px;
    padding: 20px 180px 20px 180px;
    margin-top: 50px;
}

.side {
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 10px solid #FF900E;
}

.feature-des {
    font-weight: 400;
}

.card {
    border: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 30px;
}

.card h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

.card p {
    font-weight: 400;
    font-size: .8rem;
}

.image-container img {
    height: 90%;
    width: 100%;
    margin-left: 90px;
}

.ten-year {
    width: 240px;
    background-color: #FF900E;
    text-align: center;
    padding: 46px 42px;
    position: relative;
    bottom: 100px;

}

.ten-year h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.ten-year p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

/* third-Section Style */
.third-section {
    padding: 30px 180px 80px 180px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.some-facts h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.some-facts p {
    width: 500px;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.some-facts-flashcard {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.flashcards {
    border: 1px solid #FF900E;
    border-radius: 10px;
    padding: 30px;
}

.flashcards h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 10px;
}

.flashcards p {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px 10px;
}

/* Sponsors style */
.our-sponsors {
    text-align: center;
}

.our-sponsors h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-sponsors p {
    width: 500px;
    font-weight: 400;
    margin: 0px auto;
}

.sponsors {
    padding: 30px 180px 80px 180px;
}

.sponsors-img {

    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    cursor: pointer;
}

footer {
    padding: 30px 180px 80px 180px;
    text-align: center;
    
}

.foot {
    background-color: #FFF4E7;
    padding: 40px 0px 40px 0px ;
}

/* Mobile style */
@media only screen and (max-width: 576px) {
    .main-menu {
        padding: 0px;
        flex-direction: column;
    }

    .menu-logo {
        font-size: 1.5em;
        text-align: center;
    }

    .menu li {
        padding: 15px;
        text-align: center;
    }

    .hero-text {
        font-size: 1.5rem;
    }

    .hero-des {
        font-size: .8rem;
        font-weight: 400;
        width: 60%;
        margin: 0px auto;
    }

    .btn-primary {
        width: 100px;
        height: 40px;
        font-size: .8rem;
    }

    .hero-img {
        padding: 5px 30px 5px 30px;

    }

    .first-section {
        flex-direction: column-reverse;
        padding: 10px 20px 10px 20px;
        gap: 0px;
    }

    .img-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .first-text-box {
        text-align: center;
    }

    .third-section {
        padding: 10px 20px 10px 20px;
        flex-direction: column;
        gap: 40px;
    }

    .some-facts h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .some-facts p {
        width: 300px;
        font-size: .5rem;
        text-align: center;
        margin: 0px auto;
    }

    .some-facts-flashcard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .flashcards {
        padding: 10px;
    }

    .flashcards h1 {
        font-size: 2rem;
    }

    .flashcards p {
        font-size: 1rem;
    }

    .our-sponsors h1 {
        font-size: 1.5rem;
    }

    .our-sponsors p {
        width: 400px;
        margin-bottom: 30px;
    }

    .sponsors {
        padding: 5px 30px 5px 30px;
    }

    .sponsors-img {
        flex-direction: column;
        width: 120px;
        margin: 0px auto;
        gap: 30px;
    }

    .second-section {
        gap: 40px;
        padding: 5px 30px 5px 30px;
        margin-top: 50px;
        flex-direction: column;
    }

    .feature-des {
        text-align: center;
    }

    .image-container img {
        margin-left: 0px;
    }

    .ten-year {
        position: relative;
        bottom: 0px;
        margin: 20px auto;
        padding: 23px 21px;
    }

    .ten-year h3 {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }

    .ten-year p {
        font-size: .8rem;
        font-weight: 400;
        color: #fff;
    }
    footer {
        padding: 5px 30px 5px 30px;
    }
    
    .foot {
        padding: 20px 0px 20px 0px ;
    }

}

/* Tablet style */

@media only screen and (min-width:576px) and (max-width:768px) {
    .main-menu {
        padding: 40px;
    }

    .menu-logo {
        font-size: 1.5em;
        text-align: center;
    }

    .menu li {
        padding: 15px;
        text-align: center;
    }

    .hero-text {
        font-size: 2.5rem;
    }

    .hero-des {
        font-size: 1rem;
        font-weight: 400;
        width: 60%;
        margin: 0px auto;
    }

    .btn-primary {
        width: 130px;
        height: 45px;
        font-size: .8rem;
    }

    .hero-img {
        padding: 10px 60px 10px 60px;
    }

    .first-section {
        flex-direction: column-reverse;
        padding: 15px 20px 15px 30px;
        gap: 0px;
    }

    .img-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .first-text-box {
        text-align: center;
    }

    .third-section {
        padding: 15px 20px 15px 30px;
    }

    .some-facts h1 {
        font-size: 2rem;
        text-align: center;
    }

    .some-facts p {
        width: 300px;
        font-size: .8rem;
        text-align: center;
        margin: 0px auto;
    }

    .some-facts-flashcard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .flashcards {
        padding: 10px;
    }

    .flashcards h1 {
        font-size: 3rem;
    }

    .flashcards p {
        font-size: 1.5rem;
    }

    .our-sponsors h1 {
        font-size: 2rem;
    }

    .our-sponsors p {
        width: 450px;
    }

    .sponsors {
        padding: 15px 20px 15px 30px;
    }

    .sponsors-img {
        flex-direction: column;
        width: 120px;
        margin: 0px auto;
        gap: 30px;
    }

    /* == */
    .second-section {
        gap: 40px;
        padding: 5px 30px 5px 30px;
        margin-top: 50px;
        flex-direction: column;
    }

    .feature-des {
        text-align: center;
    }

    .image-container img {
        margin-left: 0px;
    }

    .ten-year {
        position: relative;
        bottom: 0px;
        margin: 20px auto;
        padding: 23px 21px;
    }

    .ten-year h3 {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }

    .ten-year p {
        font-size: .8rem;
        font-weight: 400;
        color: #fff;
    }
    footer {
        padding: 15px 20px 15px 30px;
    }
    
    .foot {
        padding: 30px 0px 30px 0px ;
    }
}